.toolbar{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.dialogFooter{
	padding-top: 2em;
}


@media screen and (max-width: 550px) {
  .toolbar {
    display: flex;
		flex-direction: column;
  }



	.toolbar button {
		display: flex;

	}

}
